@font-face {
    font-family: "LXGW Bold WenKai";
    src: url("fonts/LXGWBoldWenKai.eot"); /* IE9 */
    src: url("fonts/LXGWBoldWenKai.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("fonts/LXGWBoldWenKai.woff2") format("woff2"), /* chrome 36+, firefox 39+,iOS 10+, Android 67+ */
    url("fonts/LXGWBoldWenKai.woff") format("woff"), /* chrome, firefox */
    url("fonts/LXGWBoldWenKai.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("fonts/LXGWBoldWenKai.svg#LXGW Bold WenKai") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


