@font-face {
    font-family: "Smiley Sans Oblique";
    src: url("fonts/SmileySans-Oblique.eot"); /* IE9 */
    src: url("fonts/SmileySans-Oblique.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("fonts/SmileySans-Oblique.woff2") format("woff2"), /* chrome 36+, firefox 39+,iOS 10+, Android 67+ */
    url("fonts/SmileySans-Oblique.woff") format("woff"), /* chrome, firefox */
    url("fonts/SmileySans-Oblique.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("fonts/SmileySans-Oblique.svg#Smiley Sans Oblique") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


