@import "config.styl"

backdrop-filter()
  backdrop-filter arguments
  -webkit-backdrop-filter arguments

filter()
  filter arguments
  -webkit-filter arguments

#bg
  z-index: -10
  width: 100vw
  height: 100vh
  top: 0
  left: 0
  position: fixed
  background: none no-repeat center/cover

#bg-layer
  z-index: -9
  width: 100vw
  height: 100vh
  top: 0
  left: 0
  position: fixed
  backdrop-filter blur(40px) brightness(1.01)

  background-color: $background-color

  @media (prefers-color-scheme: light)
    backdrop-filter blur(40px) brightness(1.01)
    filter saturate(1.1)

  @media (prefers-color-scheme: dark)
    backdrop-filter blur(40px) brightness(0.9)
    background-color: $dark-background-color