#valine * {
    --card-border: #e1e1e3;
    --card: #fafbfd;
    --block: #eef0f2;
    --block-border: #e0e3e7;
    --block-hover: #e8ebee;
    --text-p0: #000;
    --text-p1: #1a1a1a;
    --text-p2: #444546;
    --text-p3: #6f7173;
    --text-p4: #a4a7aa;
    --text-meta: #c4c8cc;
    --text-code: #000;
    --text-revert: #fff;
    --theme-highlight: #0078d4;
    --theme-cap: #005ba1;
    --theme-bg: #fafbfd;
    --theme-link: #0078d4;
}

@media (prefers-color-scheme: dark) {
    #valine * {
        --card: #282a39;
        --card-border: rgba(255, 255, 255, 0.1);
        --block: #2b2f33;
        --block-border: #393e44;
        --block-hover: #222528;
        --text-p0: #fff;
        --text-p1: #d1d2d2;
        --text-p2: #b5b6b7;
        --text-p3: #868789;
        --text-p4: #737577;
        --text-meta: #696b6e;
        --text-code: #eee;
        --text-revert: #000;
        --theme-highlight: #4cc2ff;
        --theme-cap: #4cc2ff;
        --theme-bg: #282a39;
    }
}


.cmt-body.valine {
    --more-before: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.9),
            rgba(246, 246, 246, 0.9)
    );
    --more-after: rgba(246, 246, 246, 0.9);
    margin-top: 1rem;
}

#valine {
    line-height: 1.5 !important;
}

#valine img {
    display: inline;
}

#valine .vwrap {
    background: var(--card);
    border-radius: 8px;
    border: 1px solid var(--card-border);
}

#valine .vwrap:hover {
    background: var(--card);
}

#valine .vwrap:hover .vheader {
    background: var(--card);
}

#valine .vwrap .cancel-reply {
    margin-top: 0;
    margin-bottom: 0;
}

#valine .vwrap .vheader {
    margin: -10px;
    padding: 5px 10px 0;
    border-bottom: 1px solid var(--card-border);
}

#valine .vwrap .vheader .vinput {
    border: none;
}

#valine .vwrap .vheader .vnick {
    margin-left: 0;
}

#valine .vwrap .vedit .vicon {
    height: 22px;
}

#valine .vwrap .vemojis,
#valine .vwrap .vpreview {
    background: var(--block);
    border-radius: 4px;
    padding: 0;
    margin-top: 0.5rem;
}

#valine .vwrap .vemojis::-webkit-scrollbar,
#valine .vwrap .vpreview::-webkit-scrollbar {
    height: 0;
    width: 0;
}

#valine .vwrap .vemojis::-webkit-scrollbar-track-piece, #valine .vwrap .vpreview::-webkit-scrollbar-track-piece {
    background: 0 0;
}

#valine .vwrap .vemojis::-webkit-scrollbar-thumb,
#valine .vwrap .vpreview::-webkit-scrollbar-thumb {
    background: var(--text-meta);
    cursor: pointer;
    border-radius: 0;
}

#valine .vwrap .vemojis::-webkit-scrollbar-thumb:hover, #valine .vwrap .vpreview::-webkit-scrollbar-thumb:hover {
    background: var(--text-p3);
}

#valine .vwrap .vemojis .vemoji,
#valine .vwrap .vpreview .vemoji {
    max-height: 22px;
    max-width: 100px;
}

#valine .vwrap .vemojis i,
#valine .vwrap .vpreview i {
    width: auto;
    padding: 8px;
    border-radius: 4px;
    transition: box-shadow 0.2s ease-out, background 0.2s ease-out;
    -moz-transition: box-shadow 0.2s ease-out, background 0.2s ease-out;
    -webkit-transition: box-shadow 0.2s ease-out, background 0.2s ease-out;
    -o-transition: box-shadow 0.2s ease-out, background 0.2s ease-out;
}

#valine .vwrap .vemojis i:hover,
#valine .vwrap .vpreview i:hover {
    background: linear-gradient(145deg, #eee, #fff);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1),
    -1px -1px 2px rgba(255, 255, 255, 0.5),
    inset 8px 8px 16px rgba(0, 0, 0, 0.05),
    inset -8px -8px 16px rgba(255, 255, 255, 0.4);
}

@media (prefers-color-scheme: dark) {
    #valine .vwrap .vemojis i:hover,
    #valine .vwrap .vpreview i:hover {
        box-shadow: none;
    }
}

#valine .vwrap .vemojis i:active,
#valine .vwrap .vpreview i:active {
    background: linear-gradient(145deg, #eee, #fff);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.1), 0 0 0 rgba(255, 255, 255, 0.8),
    inset 2px 2px 4px rgba(0, 0, 0, 0.1), inset -2px -2px 4px #fff,
    inset -8px -8px 16px rgba(255, 255, 255, 0.4);
}

@media (prefers-color-scheme: dark) {
    #valine .vwrap .vemojis i:active,
    #valine .vwrap .vpreview i:active {
        box-shadow: none;
    }
}

#valine .vwrap .vedit .vctrl span {
    padding: 0;
    margin: 10px;
}

#valine .vwrap .vedit span {
    fill: var(--text-p1);
}

#valine .vwrap .vedit span.actived {
    fill: #0078d4;
}

#valine .vcount {
    color: var(--text-p1);
    font-size: 0.8125rem;
    padding: 0;
    font-weight: inherit;
}

#valine .vcount .vnum {
    color: var(--text-p1);
    font-size: 1.5rem;
    font-weight: 700;
}

#valine button {
    border: none;
    padding: 2px 2rem;
    border-radius: 4px;
    background: var(--theme-highlight);
    color: var(--text-revert);
    line-height: 2;
    font-size: 14px;
    font-weight: 500;
}

#valine button.vmore {
    width: 100%;
    padding: 8px 2rem;
}

#valine .vcards {
    margin-top: 0.5rem;
}

#valine .vcards .vcard {
    display: flex;
    position: relative;
}

#valine .vcards .vcard .vcontent.expand:before {
    background: var(--more-before);
}

#valine .vcards .vcard .vcontent.expand:after {
    background: var(--more-after);
}

#valine .vcards .vcard .vimg {
    width: 40px;
    height: 40px;
    z-index: 1;
    margin-left: unset;
    margin-top: unset;
    margin-bottom: unset;
    margin-right: 0.5rem;
}

#valine .vcards .vcard .vh {
    margin-left: -46px;
    padding-bottom: 0;
    width: 100%;
    position: relative;
}

#valine .vcards .vcard .vh .vhead {
    line-height: 1.2;
}

#valine .vcards .vcard .vh .vhead .vnick {
    margin-left: 44px;
    line-height: inherit;
    font-size: 0.875rem;
}

#valine .vcards .vcard .vh .vtime {
    margin-left: 44px;
    font-size: 0.75rem;
    font-weight: 500;
}

#valine .vcards .vcard .vh .vat {
    font-size: 0.75rem;
}

#valine .vcards .vcard .vh .vvisitor {
    display: none;
}

#valine .vcards > .vcard {
    border-radius: 8px;
    background: var(--card);
    border: 1px solid var(--card-border);
    padding: 1rem;
    margin-bottom: 1rem;
}

#valine .vcards > .vcard > .vh {
    border-bottom: none;
}

#valine .vcards > .vcard > .vh > .vquote {
    border-left: none;
    padding-left: 0;
}

#valine .vcards > .vcard > .vh > .vquote > .vcard {
    border-top: 1px solid var(--card-border);
}

#valine .vcards .vimg {
    padding: 0;
    background: var(--block);
}

#valine .vcards .vhead span.vnick {
    color: var(--text-p2);
    cursor: default;
}

#valine .vcards .vhead a.vnick {
    color: #ff9800;
    font-weight: 700;
}

#valine .vcards .vhead a.vnick:hover {
    color: #0078d4;
}

#valine .vcards .vhead .vsys {
    display: none;
}

#valine .vcards .vmeta {
    position: static !important;
}

#valine .vcards .vmeta .vat {
    font-weight: 700;
    color: var(--text-p1);
    background: var(--card);
    padding: 4px 8px;
    border-radius: 2px;
    position: absolute;
    top: 0;
    right: 0;
}

#valine .vcards .vmeta .vat:hover {
    color: #0078d4;
    background-color: var(--block);
}

#valine .vcards .vcontent {
    padding-top: 0;
    margin-top: 0.75em;
}

#valine .vcards .vcontent blockquote {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: var(--block);
    border-left: 3px solid #0078d4;
}

#valine .vcards .vcontent code {
    color: var(--text-p1);
    background: var(--block);
    margin: 0 2px;
}

#valine .vcards .vcontent pre {
    background: var(--block);
}

#valine .vcards .vcontent pre code {
    border: none;
}

#valine .vcards .vcontent a {
    color: var(--theme-link);
    line-height: inherit;
}

#valine .vcards .vcontent a:hover {
    color: #0078d4;
    text-decoration: underline;
}

#valine .vcards .vcontent p {
    color: var(--text-p1);
    line-height: inherit;
}

#valine .vcards .vcontent .vemoji {
    max-height: 24px;
    border-radius: 0;
    margin-top: -10px;
    max-width: 100px;
}

#valine .vempty {
    color: var(--text-meta);
}

#valine .vpower,
#valine .vpower a {
    font-size: 0.75rem;
}

#valine .vpower a {
    color: var(--text-p1);
}

#valine .vpower a:hover {
    text-decoration: underline;
    color: #0078d4;
}

#valine .vinput {
    color: var(--text-p1);
}

#valine p {
    color: var(--text-p1);
}

#valine .vrow {
    padding: 2px 0;
}

#valine .veditor {
    resize: none;
}

@media (prefers-color-scheme: dark) {
    .cmt-body.valine {
        --more-before: 0 0;
        --more-after: #393c40;
    }
}

#valine .vinput .veditor {
    color: var(--text-p1);
    background: var(--block);
    border: 1px solid var(--card-border);
    border-radius: 4px;
    padding: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    resize: none;
}